html, body {
  margin: 0;
  padding: 10px;
}

#mentions-js-list-wrap {
  width: 200px;
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 5px;
}

#mentions-js-list-wrap li {
  list-style-type: none;

}

#mentions-js-list-wrap li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 5px 10px;
}
